<a href="{% url 'ustyazi-liste' %}">
<button type="button" class="btn btn-default">
    Üstyazi Listesi
</button>
</a>

<a href="{% url 'ustyazi-yeni' %}">
<button type="button" class="btn btn-primary">
    Yeni
</button>
</a>

<a href="{% url 'ustyazi-liste' %}">
<button type="button" class="btn btn-success">
    Güncelle
</button>
</a>

<a href="{% url 'ustyazi-liste' %}">
<button type="button" class="btn btn-info">
    SİL
</button>
</a>

<a href="{% url 'ustyazi-liste' %}">
<button type="button" class="btn btn-warning">
    Default
</button>
</a>

<a href="/ustyazi/">
<button type="button" class="btn btn-danger">
    Default
</button>
</a>

<p></p>

