{% extends 'home/base.html' %}

{% block content %}
                
        
<h2>Üstyazilar</h2>
       
        
        
<table class="w3-table-all w3-hoverable">
    <thead>
        <tr>
            <th class="">Dosya No</th>
            <th class="">Tarih</th>
            <th class="">Konu</th>
            <th class="">İşlem</th>
        </tr>
    </thead>
            {% for ustyazi in object_list %}
            <tr>
                <td>{{ ustyazi.dosya_no }}</td>
                <td>{{ ustyazi.tarih    }}</td>
                <td>{{ ustyazi.konu     }}</td>
                <td class="">
                    <a href="{% url 'ustyazi-render'   pk=ustyazi.pk %}" class="w3-btn w3-purple w3-small"> Yazdır  </a> &ensp;
                    <a href="{% url 'ustyazi-guncelle' pk=ustyazi.pk %}" class="w3-btn w3-orange w3-small"> Güncelle</a> &ensp;
                    <a href="{% url 'ustyazi-sil'      pk=ustyazi.pk %}" class="w3-btn w3-red    w3-small"> Sil     </a>
                </td>
            </tr>
            {% endfor %}
            
    </table>
        
      
{% endblock %}
