{% extends 'home/base.html' %}

{% block content %}
                

<div class="w3-row-padding">
  <div class="w3-col l2">
    
    <h2>Menü</h2>
    
    <ul class="w3-ul w3-card-4 w3-margin-top w3-hoverable">
      <li><a style="display: block;" href="{% url 'ustyazi-yeni' %}">Yeni</a></li>
      <li><a style="display: block;" href="{% url 'ustyazi-liste' %}">Listele</a></li>
    </ul>
  
  
  </div>
  
  
  
  
  <div class="w3-col l10">
  
<h2>Üstyazılar</h2>
       
        
        
<table class="w3-table-all w3-hoverable">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:45%">
    <col style="width:35%">

    <thead>
        <tr>
            <th class="">Dosya No</th>
            <th class="">Tarih</th>
            <th class="">Konu</th>
            <th class="">İşlem</th>
        </tr>
    </thead>
            {% for ustyazi in object_list %}
            <tr>
                <td>{{ ustyazi.dosya_no }}</td>
                <td>{{ ustyazi.tarih    }}</td>
                <td>{{ ustyazi.konu     }}</td>
                <td class="">
                    <a href="{% url 'ustyazi-render'   pk=ustyazi.pk %}" class="w3-btn w3-purple w3-small"> Yazdır  </a> &ensp;
                    <a href="{% url 'ustyazi-guncelle' pk=ustyazi.pk %}" class="w3-btn w3-orange w3-small"> Güncelle</a> &ensp;
                    <a href="{% url 'ustyazi-sil'      pk=ustyazi.pk %}" class="w3-btn w3-red    w3-small"> Sil     </a>
                </td>
            </tr>
            {% endfor %}
 
    </table>
  </div>
  
</div>

   
{% endblock %}
