{% extends 'home/base.html' %}

{% block content %}
        <h1>ÖĞRENCİ index page</h1>
                
        
        <h2>Öğrenci</h2>
        
        <a href="{% url 'liste-guncelle' %}" class="w3-btn w3-blue">Öğrencileri Güncelle</a>
        
        <a href="{% url 'ogrenci-yeni' %}" class="w3-btn w3-blue">Yeni Öğrenci</a>
        <a href="{% url 'tum-ogrenciler' %}" class="w3-btn w3-blue">Tüm Öğrenciler</a>
        
        
        
        <ul>
        {% for ogrenci in object_list %}
            <li>{{ ogrenci }}</li>
        {% endfor %}
        </ul>
        
        
      
{% endblock %}
