{% extends 'home/base.html' %}

{% block content %}
                

        
<h2>Öğrenciler</h2>
       
        
<table class="w3-table-all w3-hoverable">
    <thead>
        <tr>
            <th class="">No</th>
            <th class="">Sınıf</th>
            <th class="">Ad Soyad</th>
            <th class="">Cinsiyet</th>
            <th class="">İşlem</th>
            
        </tr>
    </thead>
            {% for ogrenci in object_list %}
            <tr>
                <td>{{ ogrenci.no }}</td>
                <td>{{ ogrenci.sinif    }}</td>
                <td>{{ ogrenci.ad }} {{ ogrenci.soyad }}</td>
                <td>{{ ogrenci.cinsiyet    }}</td>
                <td class="">
                    
                    <a href="{% url 'ogrenci-guncelle' pk=ogrenci.pk %}" class="w3-btn w3-orange w3-small">Güncelle</a> &ensp;
                    <a href="{% url 'ogrenci-sil'      pk=ogrenci.pk %}" class="w3-btn w3-red    w3-small">Sil     </a>
                    
                </td>
            </tr>
            {% endfor %}
            
    </table>
        
      
{% endblock %}
